{% extends "oss/base.html" %}

{% block main_content %}

<div class="ui centered grid">
    <div class="fourteen wide computer column">
        <h1>My advertisements</h1>

        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>District</th>
                    <th>Created at</th>
                </tr>
            </thead>
            <tbody>
                {% for advertisement in object_list %}
                <tr>
                    <td>{{ advertisement.title }}</td>
                    <td>{{ advertisement.sub_category }}</td>
                    <td>{{ advertisement.description }}</td>
                    <td>{{ advertisement.district }}</td>
                    <td>{{ advertisement.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
