{% extends "oss/base.html" %}

{% block main_content %}

<div class="ui centered grid">
    <div class="fourteen wide column">
        <h1>{{ object.title }}</h1>
    </div>

    <div class="seven wide column">
        {{ object.sub_category }}
    </div>
    <div class="seven wide column">
        {{ object.district }}
    </div>

    <div class="eight wide column">
        <div>
            {{ object.description }}
            <br><br>
        </div>
        <div>
            <img width="100%" src="{{ object.image.url }}">
        </div>
    </div>

    <div class="six wide column">
        <form class="ui form">
            <div class="field">
                <label>Request</label>
                <textarea></textarea>
            </div>
            <button class="ui button primary" type="submit">Send request</button>
        </form>
    </div>
</div>

{% endblock %}
