<html>

<head>
    <title>OpenStuffSharing</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a class="item" href="/">Home</a>
            <a class="item" href="/advertisements/">My Advertisements</a>
            <a class="item" href="/messages/">Messages</a>
            <div class="item">
                <div class="ui button"><a href="/advertisement/add">new Advertisement</a></div>
            </div>
            <div class="right menu">
                <div class="item">
                    logged in as {{ request.user }} (<a class href="{% url 'logout' %}">logout</a>)
                </div>
            </div>
        </div>
    </div>

    <br><br>

    {% block main_content %}{% endblock %}
</body>

</html>