{% extends "oss/base.html" %}

{% block main_content %}
<h1>Create advertisement</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="create">
            </td>
        </tr>
    </table>
</form>
{% endblock %}
