{% extends "oss/base.html" %}

{% block main_content %}

<div class="ui centered grid">
    <div class="ten wide computer column">
        <div class="ui link cards">
            {% for advertisement in object_list %}
            <div class="card">
                <a class="image" href="/advertisements/{{ advertisement.id }}/">
                    {% if advertisement.image %}
                    <img src="{{ advertisement.image.url }}">
                    {% else %}
                    <img src="https://semantic-ui.com/images/wireframe/image.png">
                    {% endif %}
                </a>
                <div class="content">
                    <div class="header">{{ advertisement.title }}</div>
                    <div class="meta">{{ advertisement.district }}</div>
                    <div class="description">
                        {{ advertisement.description|truncatechars:110 }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="four wide computer column">
        <h2>Filters</h2>

        <h3>Category</h3>
        <ul class="ui list">
            {% for category in categories %}
            <li>
                <a href="">{{ category }}</a>
            </li>
            {% endfor %}
        </ul>

        <h3>Location</h3>
        <ul class="ui list">
            {% for location in locations %}
            <li><a href="">{{ location }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
