{% extends "oss/base.html" %}

{% block main_content %}

<div class="ui centered grid">
    <div class="fourteen wide computer column">
        <h1>Messages</h1>

        <div class="ui segment">
            <div class="ui two column very relaxed grid">
                <div class="ui vertical divider"></div>

                <div class="column">
                    <div class="ui relaxed divided selection list">
                        {% for message_history in message_histories %}
                        <div class="item">
                            <div class="content">
                                <a class="header" href="{% url 'messages-detail' message_history.id %}">
                                    {{ message_history.advertisement.title }}
                                </a>
                                <div class="description">
                                    {{ message_history.participant }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="column">
                    <div class="ui feed">
                        {% for message in object.messages.all %}
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a class="user">{{ message.sender }}</a>
                                    <div class="date">{{ message.created_at }}</div>
                                </div>
                                <div class="meta">
                                    {{ message.content }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <input type="text"><input type="button" value="send">
                </div>


            </div>
        </div>

    </div>
</div>
{% endblock %}
