<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="post">
    {% csrf_token %}
    <table>
      {{ form }}
      <tr>
        <td>
          <a href="{% url 'django_registration_register' %}">Register</a>
        </td>
        <td>
          <input type="submit" value="Login">
        </td>
      </tr>
    </table>
  </form>
</body>

</html>